:root{
    --primary- :rgb(102, 111, 241);
    --secondary- :rgb(122, 122, 122);
    --success- :rgb(53, 170, 53);
    --danger- :rgb(212, 40, 40);
    --warning- :rgb(255, 251, 0);
    --light- :rgb(243, 243, 243);
    --dark- :#101010;
    --gary- : #989898;
}