:root{
    --primary- :rgb(102, 111, 241);
    --secondary- :rgb(122, 122, 122);
    --success- :rgb(53, 170, 53);
    --danger- :rgb(212, 40, 40);
    --warning- :rgb(255, 251, 0);
    --light- :rgb(233, 233, 233);
    --dark- :#151515;
    --gray- : #8b8b8b;
    --white- : #fff;

    --sidebar-in-dark-mode : #101010;
    --topbar-in-dark-mode : #101010;
    --card-container-in-dark-mode : #101010;
    --create-task-modal-in-dark-mode : #101010;
    --charts-bg-in-dark-mode : #101010;
}