@import '../variables/themeColors';

.application_dark_mode_theme{
    background-color: var(--dark-);
    color: var(--light-);
    transition: 0.3s;
}
.application_light_mode_theme{
    background-color: var(--light-);
    color: var(--dark-);
    transition: 0.3s;
}

.sidebar_dark_mode_theme{
    background-color: var(--sidebar-in-dark-mode);
    color: var(--light-);
    transition: 0.3s;
}
.sidebar_light_mode_theme{
    background-color: var(--primary-);
    color: var(--light-);
    transition: 0.3s;
}

.topbar_dark_mode_theme{
    background-color: var(--topbar-in-dark-mode);
    color: var(--light-);
    transition: 0.3s;
}
.topbar_light_mode_theme{
    background-color: var(--primary-);
    color: var(--light-);
    transition: 0.3s;
}

.card_container_dark_mode_theme{
    background-color: var(--card-container-in-dark-mode);
    color: var(--light-);
    transition: 0.3s;
}
.card_container_light_mode_theme{
    background-color: var(--white-);
    color: var(--dark-);
    transition: 0.3s;
}

.create_task_modal_dark_mode_theme{
    background-color: var( --create-task-modal-in-dark-mode);
    color: var(--light-);
    transition: 0.3s;
}

.create_task_modal_light_mode_theme{
    background-color: var(--white-);
    color: var(--dark-);
    transition: 0.3s;
}

.base_input_dark_mode_theme{
    color: var(--light-);
    transition: 0.3s;
}

.base_input_light_mode_theme{
    color: var(--dark-);
    transition: 0.3s;
}

.chart_bg_dark_mode_theme{
    background-color: var(--charts-bg-in-dark-mode);
    color: var(--light-);
    transition: 0.3s;
}

.chart_bg_light_mode_theme{
    background-color: var(--white-);
    color: var(--dark-);
    transition: 0.3s;
}