@import '../variables/fontWeight';

.font_w_100{
    font-weight: $--weight-100;
}

.font_w_300{
    font-weight: $--weight-300;
}

.font_w_500{
    font-weight: $--weight-500;
}

.font_w_800{
    font-weight: $--weight-800;
}